@media (max-width: 699px) {
    .grid {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center;
      font-size: samll;
    }
    body {
      margin: 0px;
      padding: 0px;
    }
    h1 {
      text-align: center;
      font-size: 5px;
      padding: 20px;
      background-color: #1c96c8;
    }
    header .picture {
      width: 450px;
      height: 200px;
    }
    .newlist {
      display: -ms-grid;
      display: grid;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-left: 20px;
      color: black;
      font-size: 25px;
    }
    .newlist .a {
      border-bottom: 10px;
      background-color: grey;
    }
    .newlist .padre-menu {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr)[2];
          grid-template-columns: repeat(2, 1fr);
      -ms-grid-rows: (1fr)[2];
          grid-template-rows: repeat(2, 1fr);
    }
    .padre-flex {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .servicios {
      font-size: 15px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
    .servicios-flex {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .imageService {
      display: none;
    }
    .imageService__item {
      display: none;
    }
    .imgdesayuno {
      display: inline;
      width: 360px;
    }
    .links {
      display: -ms-grid;
      display: grid;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-grid-columns: (1fr)[2];
          grid-template-columns: repeat(2, 1fr);
      padding-left: 45px;
      color: black;
      font-size: 25px;
    }
    .contacto {
      display: -ms-grid;
      display: grid;
      width: 320px;
      font-size: 15px;
      background-color: none;
    }
    .map {
      float: none;
    }
    .mapaDesitio {
      display: -ms-grid;
      display: grid;
      padding: 10px;
      -webkit-box-align: baseline;
          -ms-flex-align: baseline;
              align-items: baseline;
      height: 250px;
      width: 300px;
      margin-left: 25px;
    }
    .nosotros {
      display: none;
    }
    .nosotrosMobile {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      width: 360px;
      height: 220px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .botonEnviar {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-left: 115px;
    }
    .cabanas {
      font-size: 15px;
      color: #1c96c8;
      text-align: center;
    }
    .imgCab {
      width: 450px;
      height: 200px;
    }
    .pieCabanas {
      font-size: 12px;
    }
  }
  
  .servicios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#e05c5c));
    background-image: linear-gradient(white, #e05c5c);
    list-style-type: square;
    margin: 50px;
    font-size: 18px;
    text-align: left;
    padding: 30px;
    border-radius: 15px;
    display: block;
    -webkit-box-pack: last baseline;
        -ms-flex-pack: last baseline;
            justify-content: last baseline;
  }
  
  .imageService {
    display: -ms-grid;
    display: grid;
    padding: 20px;
    gap: 15px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 1.5;
    transition: 1.5;
  }
  
  .imageService__item {
    display: -ms-grid;
    display: grid;
    width: 300px;
    height: 120px;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  
  .imageService__item img {
    width: 100%;
    height: 100%;
  }
  
  .imageService__item:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  
  .imgdesay {
    justify-items: center;
  }
  
  .servicios-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .listado-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .cantPersonas {
    width: 80px;
    height: 30px;
  }
  
  .card {
    background-color: #fae2df;
    border-radius: 100%;
    padding: 20px;
    margin: 20px;
    border-color: black;
  }
  
  .card__title {
    text-align: left;
  }
  
  .card__description {
    line-height: 2;
    text-align: center;
  }
  
  .card__rrss {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  .card__link {
    margin-right: 15px;
    padding: 10px;
    text-decoration: none;
    color: white;
  }
  
  .card__link--twitter {
    background-color: #1c96c8;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    border: none;
  }
  
  .card__link--instagram {
    background-color: #f28705;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    border: none;
  }
  
  .seguinos {
    margin: 20px;
    text-align: left;
    font-size: 20px;
  }
  
  .nosotros {
    max-width: 1200px;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .nosotros__item {
    width: 280px;
    height: 200px;
    cursor: pointer;
  }
  
  .imgdesayuno {
    display: none;
  }
  
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-row-align: center;
        align-self: center;
  }
  
  .nosotrosMobile {
    display: none;
  }